[run]
source = litezip
omit =
    tests/*
    litezip/contrib/pytest

[report]
exclude_lines =
    noqa
    pragma: no cover
    if __name__ == .__main__.:
omit =
    tests/*
    litezip/_version.py
    litezip/contrib/pytest/*
